DB_ENGINE=mysql
DB_NAME= bd_name_example
DB_USER= example_username
DB_PASSWORD= example_password
DB_HOST= 127.0.0.1 
DB_PORT= 3xxx
# la clave debe ir en privado en el archivo env --> Pm
SECRET_KEY= example_secret_key